# Editor swap/backup files
*.swp
*.swo
*~

# macOS
.DS_Store

# IDE / editor config
.vscode/
.idea/

# Local history
.history/

# Antigravity Files
ANTIGRAVITY.md
.antigravitycli

# Kiro
.kiro

# Claude
.claude
CLAUDE.md

# Tests
tests/
